/*COLOR THEME*/
:root {
    --tcolor_blue_a: #006699;
    --tcolor_blue_b: #0099cc;
    --tcolor_black_a: #191919;
    --tcolor_gray_a: #333333;
    --tcolor_gray_b: #8f8f8f;
    --tcolor_gray_c: #cfcfcf;
    --tcolor_white_a: #f3f3f3;
    --tcolor_white_b: #FFFFFF;
    --tcolor_green_a: #4caf50;
    --tcolor_green_b: #74c500;
    --tcolor_green_c: #b1dd73;
    --tcolor_pink: #f6018e;
    --tcolor_red_a: #7F000D;
    --tcolor_red_b: #b80a13;
    --tcolor_orange: #BF8802;
    --tcolor_brown_a: #873f30;
    --tcolor_brown_b: #c38e76;
    --tcolor_green_opacity: rgba(76, 175, 80, 0.9);
    --tcolor_red_opacity: rgba(184, 10, 19, 0.8);
    --tcolor_green_orange: rgba(191, 136, 2, 0.8);
    --tcolor_white_opacity: rgba(255, 255, 255, 0.8);
    --tcolor_blue_opacity: rgba(30, 65, 154, 0.9);
    --tcolor_gray_a_opacity: rgba(143, 143, 143, 0.9);
}

.bg-overlay-white {
    background-color: rgba(238, 238, 238, 0.8);
}

.bg-overlay-green {
    background-color: var(--tcolor_green_opacity);
}

/*--->Navbar<---*/
.navbar {
    background-color: var(--tcolor_green_b);
}

.navbar .btn-danger {
    background-color: var(--tcolor_green_b);
    border: 2px solid var(--tcolor_white_a);
}

.navbar .btn-danger:hover {
    background-color: var(--tcolor_white_a);
    color: var(--tcolor_green_b);
}

/*--->Welcome<---*/
.main {
    background: url(../static/image/bg_receitas.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.main_bg {
    background-color: var(--tcolor_green_opacity);
}

.main_welcome {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.main_welcome h1 {
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 40px;
}

.main_welcome_title {
    font-size: 1.5em;
    color: #FFFFFF;
}

.main_welcome_subtitle {
    font-size: 1.25em;
    color: #FFFFFF;
}

/*--->Gallery<---*/
.main_gallery {
    margin-top: 40px;
}


/*
.container_flex {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    flex-wrap: wrap;
}
*/